#e6tb1-1ggl #secao8{background:url("../images/bg-secao8.jpg") center;background-position:repeat-x;overflow:hidden;padding:140px 0 70px;}
#e6tb1-1ggl #secao8 .left{width:480px;margin:0 0 0 120px;float:left;}
#e6tb1-1ggl .content{width:480px;text-align:center;}
#e6tb1-1ggl .dados{overflow:hidden;margin-top:30px;}
#e6tb1-1ggl .dados-left{float:left;text-align:left;width:200px;color:#041e50;}
#e6tb1-1ggl .dados-right{width:116px;height:70px;border:1px solid #041e50;float:right;box-sizing:border-box;padding:10px 0;}
#e6tb1-1ggl .numero{display:block;font-size:26px;font-weight:600;line-height:26px;color:#041e50;}
#e6tb1-1ggl .numero span{font-size:18px;}
#e6tb1-1ggl #secao8 .bx-blue{color:#fff;width:562px;height:391px;background-color:#041e50;box-sizing:border-box;padding:75px 110px;float:left;margin-top:30px;}
#e6tb1-1ggl #secao8 .bx-blue h2{font-size:38px;font-weight:600;line-height:42px;margin-bottom:40px;}
#e6tb1-1ggl #secao8 .right{float:left;width:562px;}
#e6tb1-1ggl #secao8 .right ul{margin-left:20px;}
#e6tb1-1ggl #secao8 .right ul li{list-style:circle;}
#e6tb1-1ggl #secao8 .right ul li{margin-bottom:20px;}
