#e6tb1-1ggl #secao4{background:url("../images/bg-secao4.jpg") top center no-repeat;height:800px;}
#e6tb1-1ggl #secao4 .controle{position:relative;}
#e6tb1-1ggl #secao4 .bx-blue{color:#fff;width:600px;height:352px;background-color:#041e50;box-sizing:border-box;padding:80px 60px 50px;float:left;margin-top:180px;}
#e6tb1-1ggl #secao4 .bx-blue h2{font-size:38px;font-weight:600;line-height:42px;margin-bottom:40px;}
#e6tb1-1ggl #secao4 .spot1{top:600px;right:280px;}
#e6tb1-1ggl #secao4 .spot1 .spot-information{top:-20px;left:-130px;}
