#e6tb1-1ggl #secao2{overflow:hidden;color:#2b2936;}
#e6tb1-1ggl #secao2 h2{margin-bottom:45px;}
#e6tb1-1ggl #secao2 .secao-top{overflow:hidden;padding:0 0 0 20px;box-sizing:border-box;}
#e6tb1-1ggl #secao2 .secao-top .box-left{float:left;width:495px;}
#e6tb1-1ggl #secao2 .secao-top .infos{width:420px;margin:90px 0 0 0;}
#e6tb1-1ggl #secao2 .secao-top .box-right{float:left;}
#e6tb1-1ggl #secao2 .secao-bottom .box-left{float:left;width:495px;}
#e6tb1-1ggl #secao2 .secao-bottom .box-left .infos{width:350px;margin:115px 0 20px 60px;}
#e6tb1-1ggl #secao2 .secao-bottom{padding-top:100px;overflow:hidden;margin-top:-100px}
#e6tb1-1ggl #secao2 .secao-bottom .box-right{text-align:center;width:360px;float:right;margin:-50px 100px 0 0;position:relative;}
#e6tb1-1ggl #secao2 .spot1{top:20px;right:100px;}
#e6tb1-1ggl #secao2 .spot1 .spot-information{top:-20px;left:-90px;}
#e6tb1-1ggl #secao2 .spot2{bottom:170px;left:50px;}
#e6tb1-1ggl #secao2 .spot2 .spot-information{left:-235px;top:-206px;}
