#e6tb1-1ggl #secao6{background:url("../images/bg-secao6.jpg") top center no-repeat;height:950px;}
#e6tb1-1ggl #secao6 .left{float:left;width:380px;margin:470px 0 0 275px;}
#e6tb1-1ggl #secao6 .left h2{color:#041e50;margin-bottom:20px;}
#e6tb1-1ggl #secao6 .left .pmargin{margin-bottom:80px;}
#e6tb1-1ggl #secao6 .right{color:#fff;width:320px;float:left;margin-left:140px;margin-top:70px;}
#e6tb1-1ggl #secao6 .right h2{margin-bottom:40px;}
