#e6tb1-1ggl #secao3{background:url("../images/bg-secao3.png") top center no-repeat;height:670px;}
#e6tb1-1ggl #secao3 h2{color:#041e50;margin-top:90px;margin-bottom:20px;}
#e6tb1-1ggl #secao3 p{color:#2b2936;}
#e6tb1-1ggl #secao3 .infos{float:right;width:360px;margin-right:100px;margin-top:60px;}
