#e6tb1-1ggl #secao7{background:url("../images/bg-secao7.jpg") center top no-repeat;height:744px;}
#e6tb1-1ggl #secao7 .controle{position:relative;}
#e6tb1-1ggl #secao7 .infos{width:330px;float:right;margin:120px 180px 0 0;}
#e6tb1-1ggl #secao7 .infos h2{color:#3b4536;margin-bottom:30px;}
#e6tb1-1ggl #secao7 .infos p{color:#3b4536;}
#e6tb1-1ggl #secao7 .top{margin-bottom:140px;}
#e6tb1-1ggl #secao7 .spot1{top:600px;left:0px;}
#e6tb1-1ggl #secao7 .spot1 .spot-information{top:-100px;left:10px;}
