#e6tb1-1ggl #secao5{background:url("../images/bg-secao5.jpg") top center no-repeat;height:566px;}
#e6tb1-1ggl #secao5 .controle{position:relative;}
#e6tb1-1ggl #secao5 .infos{width:460px;float:right;margin:80px 20px 0 0;}
#e6tb1-1ggl #secao5 .icon{margin-bottom:30px;}
#e6tb1-1ggl #e6tb1-1ggl #secao5 h2{color:#041e50;margin-bottom:40px;}
#e6tb1-1ggl .receitas{margin-top:40px;}
#e6tb1-1ggl #secao5 .spot1{top:400px;left:280px;}
#e6tb1-1ggl #secao5 .spot1 .spot-information{top:-120px;left:10px;}
