#containerIsee *,
*:before,
*:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

@font-face {
    font-family: ElectroluxSansRegular;
    src: url('../fonts/ElectroluxSans-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: ElectroluxSansSemiBold;
    src: url('../fonts/ElectroluxSans-SemiBold.ttf');
    font-style: normal;
}

@font-face {
    font-family: ElectroluxSansSemiLight;
    src: url('../fonts/ElectroluxSans-Light.ttf');
    font-style: normal;
}

#containerIsee>#bloco01Isee:after {
    display: none !important;
}

#containerIsee .dimensoes {
    margin-left: -8%;
}

@media screen and (min-width: 781px) {
    #containerIsee .dimensoes {
        margin-left: -13%;
        margin-right: 4%;
    }
    #containerIsee>#Topo {
        padding: 25px 40px;
    }
    #containerIsee>#Topo img {
        width: 15%;
    }
    #containerIsee>#bloco02Isee .play-mobile {
        display: none;
    }
    #containerIsee>#Footer {
        background-color: #041f4d;
        display: flex;
        align-items: center;
        padding: 2vw;
    }
    #containerIsee .logo {
        width: 25%;
        margin-right: 3vw;
    }
    #containerIsee .logo img {
        width: 100%;
        max-width: 14vw;
    }
    #containerIsee .textofooter {
        width: 39%;
        text-align: center;
        color: #fff;
        font-family: ElectroluxSansSemiLight;
        font-size: 0.9vw;
        line-height: 1.2;
    }
    #containerIsee .texto-consumidor {
        color: #fff;
        width: 40%;
        font-family: ElectroluxSansSemiLight;
        font-size: 0.9vw;
        line-height: 1.2;
        text-align: right;
    }
    #containerIsee>#bloco04Isee {
        /* background-color: #256; */
        background-image: url("../img/bg_produtos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        padding-bottom: 4vw;
    }
    #containerIsee>#bloco04Isee div.item01Isee div.imgIsee,
    #containerIsee>#bloco04Isee div.item02Isee div.imgIsee,
    #containerIsee>#bloco04Isee div.item03Isee div.imgIsee {
        height: 22vw;
    }
    #containerIsee>#bloco04Isee img {
        width: 100%;
    }
    #containerIsee>#bloco04Isee h3 {
        font-family: ElectroluxSansSemiBold;
        color: #fff !important;
        font-size: 1.7vw;
        line-height: 1.2;
    }
    #containerIsee>#bloco04Isee p {
        font-family: ElectroluxSansRegular;
        color: #fff !important;
        text-align: center !important;
        margin-top: 1.1vw !important;
        font-size: 1.5vw;
        line-height: 1;
    }
    #containerIsee>#bloco05Isee {
        background-color: #fff !important;
        background-image: none;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 46vw;
        padding-bottom: 2vw;
    }
    #containerIsee>#bloco05Isee div.item01Isee div.imgIsee,
    #containerIsee>#bloco05Isee div.item02Isee div.imgIsee,
    #containerIsee>#bloco05Isee div.item03Isee div.imgIsee {
        width: 21vw;
    }
    #containerIsee>#bloco05Isee img {
        width: 100%;
    }
    #containerIsee>#bloco05Isee h3 {
        font-family: ElectroluxSansSemiBold;
        color: #fff !important;
        font-size: 3vw;
    }
    #containerIsee>#bloco05Isee p {
        font-family: ElectroluxSansRegular;
        color: #041e51 !important;
        text-align: center !important;
        margin-top: 25vw !important;
        font-size: 1.8vw;
        line-height: 1;
        text-align: left !important;
    }
    #containerIsee>#bloco01Isee {
        background-color: #ccc;
        background-image: url(../img/bg_topo.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 46.7vw;
    }
    #containerIsee>#bloco01Isee .bg-azul {
        width: 45vw;
        background-color: #071f4d;
        margin-top: 11vw;
        margin-left: 6vw;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding: 3vw;
    }
    #containerIsee>#bloco01Isee .bg-azul .logo-topo {
        width: 20vw;
    }
    #containerIsee>#bloco01Isee .bg-azul h3 {
        margin: 0;
        font-family: ElectroluxSansRegular;
        color: #fff;
        font-size: 2.5vw;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 2vw;
        line-height: 1.2;
    }
    #containerIsee>#bloco01Isee .bg-azul h4 {
        color: #fff;
        font-family: ElectroluxSansSemiBold;
        font-size: 4vw;
        line-height: 1.2;
    }
    #containerIsee>#bloco02Isee {
        height: auto;
    }
    #containerIsee>#bloco02Isee img {
        width: 100%;
    }
    /* modal */
    #containerIsee>#bloco02Isee iframe {
        width: 91vw;
        height: 45vw;
    }
    #containerIsee>#bloco02Isee .modal {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: left;
        background: rgba(0, 0, 0, .9);
        transition: opacity .25s ease;
        width: 100%;
        z-index: 9999;
    }
    #containerIsee>#bloco02Isee .modal__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    #containerIsee>#bloco02Isee .modal-state {
        display: none;
    }
    #containerIsee>#bloco02Isee .modal-state:checked+.modal {
        opacity: 1;
        visibility: visible;
    }
    #containerIsee>#bloco02Isee .modal-state:checked+.modal .modal__inner {
        top: 0;
    }
    #containerIsee>#bloco02Isee .modal__inner {
        transition: top .25s ease;
        position: absolute;
        top: 7vw;
        right: 0;
        bottom: 0;
        left: 0;
        width: 99vw;
        margin: auto;
        overflow: auto;
        background: transparent;
        border-radius: 0;
        padding: 2vw;
    }
    #containerIsee>#bloco02Isee .modal__close {
        position: absolute;
        right: 1vw;
        top: 2vw;
        width: 2vw;
        height: 1vw;
        cursor: pointer;
        background: #FFFFFF;
        padding: 2vw;
        border-radius: 50%;
    }
    #containerIsee>#bloco02Isee .modal__close:after,
    #containerIsee>#bloco02Isee .modal__close:before {
        content: '';
        position: absolute;
        width: 0.4vw;
        height: 2vw;
        background: #000000;
        display: block;
        transform: rotate(45deg);
        left: 1.8vw;
        margin: 0;
        top: 1vw;
    }
    #containerIsee>#bloco02Isee .modal__close:hover:after,
    #containerIsee>#bloco02Isee .modal__close:hover:before {
        background: #aaa;
    }
    #containerIsee>#bloco02Isee .modal__close:before {
        transform: rotate(-45deg);
    }
    #containerIsee>#bloco03Isee {
        background: #7a8b99;
    }
    #containerIsee>#bloco03Isee img {
        width: 27vw;
    }
    #containerIsee>#bloco03Isee ul.sldsIsee li h3 {
        font-family: ElectroluxSansRegular;
        margin-top: 15vw;
        color: #fff;
        text-align: left;
        width: 32%;
        margin-left: 9vw;
        font-size: 4.2vw;
    }
    #containerIsee>#bloco03Isee ul.sldsIsee li p {
        font-family: ElectroluxSansRegular;
        margin-top: 1.302vw;
        color: #071f4d;
        text-align: left;
        width: 47%;
        line-height: 1.3;
        margin-left: 9vw;
        font-size: 1.7vw;
        padding-right: 3vw;
    }
}

@media screen and (max-width: 780px) {
    #containerIsee .dimensoes {
        margin-left: 7%;
    }
    #containerIsee img.img-tabela {
        margin-top: 0 !important;
    }
    #containerIsee>#Topo {
        padding: 2.5vw 4.5vw;
    }
    #containerIsee>#Topo img {
        width: 22vw;
    }
    #containerIsee>#Footer {
        background-color: #041f4d;
        padding: 4vw;
    }
    #containerIsee .logo {
        width: 100%;
    }
    #containerIsee .logo img {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 3vw;
    }
    #containerIsee .textofooter {
        width: 85%;
        text-align: center;
        color: #fff;
        font-family: ElectroluxSansSemiLight;
        font-size: 2.2vw;
        line-height: 1;
        left: 7%;
    }
    #containerIsee .texto-consumidor {
        color: #fff;
        width: 86%;
        font-family: ElectroluxSansSemiLight;
        font-size: 2.2vw;
        margin-top: 2vw;
        line-height: 1.2;
        left: 7%;
    }
    #containerIsee>#bloco04Isee {
        background-color: #256;
        background-image: url("../img/mobile/bg_produtos.jpg");
        background-repeat: no-repeat;
        background-size: cover cover;
        height: auto;
        padding-bottom: 8vw;
    }
    #containerIsee>#bloco04Isee .imgIsee {
        width: 55% !important;
        height: 37.656vw;
        background-repeat: repeat;
        background-position: left top;
        background-color: transparent;
        background-size: cover;
        margin-left: 20%;
    }
    #containerIsee>#bloco04Isee img {
        width: 100%;
    }
    #containerIsee>#bloco04Isee h3 {
        font-family: ElectroluxSansSemiBold;
        width: 50%;
        margin-left: 22% !important;
        margin-top: 10.083vw !important;
        color: #fff !important;
        text-align: center !important;
        font-weight: bold;
        line-height: 1.2;
        font-size: 4vw;
    }
    #containerIsee>#bloco04Isee p {
        font-family: ElectroluxSansRegular;
        color: #fff !important;
        text-align: center !important;
        margin-top: 3.1vw !important;
        font-size: 2.8vw;
        line-height: 1;
        margin-left: 24% !important;
    }
    #containerIsee>#bloco05Isee {
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover cover;
        padding-bottom: 8vw;
    }
    #containerIsee>#bloco05Isee .imgIsee {
        width: 55% !important;
        height: 37.656vw;
        background-repeat: repeat;
        background-position: left top;
        background-color: transparent;
        background-size: cover;
        margin-left: 20%;
    }
    #containerIsee>#bloco05Isee img {
        width: 100%;
    }
    #containerIsee>#bloco05Isee h3 {
        font-family: ElectroluxSansSemiBold;
        width: 50%;
        margin-left: 22% !important;
        margin-top: 10.083vw !important;
        color: #fff !important;
        text-align: center !important;
        font-weight: bold;
        line-height: 1.2;
        font-size: 4vw;
    }
    #containerIsee>#bloco05Isee p {
        font-family: ElectroluxSansRegular;
        color: #041f4d !important;
        text-align: center !important;
        margin-top: 3.1vw !important;
        font-size: 3vw;
        line-height: 1.2;
        margin-left: 12% !important;
        width: 69% !important;
    }
    #containerIsee>#bloco01Isee {
        background-color: #ccc;
        background-image: url(../img/mobile/bg_topo.png);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        background-color: #ccc;
        height: 158vw;
    }
    #containerIsee>#bloco01Isee .bg-azul {
        width: 71vw;
        /* height: 55vw; */
        background-color: #071f4d;
        margin-top: 77vw;
        margin-left: 9vw;
        /* padding-top: 6vw; */
        /* padding-left: 8vw; */
        /* padding-right: 3vw; */
        padding: 5vw;
    }
    #containerIsee>#bloco01Isee .bg-azul .logo-topo {
        width: 30vw;
    }
    #containerIsee>#bloco01Isee .bg-azul h3 {
        margin: 0;
        font-family: ElectroluxSansRegular;
        color: #fff;
        font-size: 3.9vw;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 3vw;
        line-height: 1.2;
    }
    #containerIsee>#bloco01Isee .bg-azul h4 {
        color: #fff;
        font-family: ElectroluxSansSemiBold;
        font-size: 6vw;
        line-height: 1.2;
    }
    /* Video */
    #containerIsee>#bloco02Isee {
        height: auto;
    }
    #containerIsee>#bloco02Isee img {
        width: 100%;
        cursor: pointer;
    }
    #containerIsee>#bloco02Isee .play-desktop {
        display: none;
    }
    /* modal */
    #containerIsee>#bloco02Isee iframe {
        width: 91vw;
        height: 45vw;
    }
    #containerIsee>#bloco02Isee .modal {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: left;
        background: rgba(0, 0, 0, .9);
        transition: opacity .25s ease;
        width: 100%;
        z-index: 9999;
    }
    #containerIsee>#bloco02Isee .modal__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    #containerIsee>#bloco02Isee .modal-state {
        display: none;
    }
    #containerIsee>#bloco02Isee .modal-state:checked+.modal {
        opacity: 1;
        visibility: visible;
    }
    #containerIsee>#bloco02Isee .modal-state:checked+.modal .modal__inner {
        top: 0;
    }
    #containerIsee>#bloco02Isee .modal__inner {
        transition: top .25s ease;
        position: absolute;
        top: 7vw;
        right: 0;
        bottom: 0;
        left: 0;
        width: 99vw;
        margin: auto;
        overflow: auto;
        background: transparent;
        border-radius: 0;
        padding: 2vw;
        height: 50vw;
    }
    #containerIsee>#bloco02Isee .modal__close {
        position: absolute;
        right: 1vw;
        top: 2vw;
        width: 2vw;
        height: 1vw;
        cursor: pointer;
        background: #FFFFFF;
        padding: 2vw;
        border-radius: 50%;
    }
    #containerIsee>#bloco02Isee .modal__close:after,
    #containerIsee>#bloco02Isee .modal__close:before {
        content: '';
        position: absolute;
        width: 0.4vw;
        height: 2vw;
        background: #000000;
        display: block;
        transform: rotate(45deg);
        left: 1.8vw;
        margin: 0;
        top: 1vw;
    }
    #containerIsee>#bloco02Isee .modal__close:hover:after,
    #containerIsee>#bloco02Isee .modal__close:hover:before {
        background: #aaa;
    }
    #containerIsee>#bloco02Isee .modal__close:before {
        transform: rotate(-45deg);
    }
    #containerIsee>#bloco03Isee {
        background: #7a8b99;
    }
    #containerIsee>#bloco03Isee .imgIsee img {
        width: 70vw;
    }
    #containerIsee>#bloco03Isee ul.sldsIsee li h3 {
        font-family: ElectroluxSansRegular;
        margin-top: 17vw;
        color: #fff;
        text-align: center;
        font-size: 7vw;
        line-height: 1.2;
    }
    #containerIsee>#bloco03Isee ul.sldsIsee li p {
        font-family: ElectroluxSansRegular;
        margin-top: 1.302vw;
        color: #071f4d;
        text-align: center;
        font-size: 4vw;
        /* width: 60%; */
    }
}

@media screen and (min-width: 1070px) {
    #containerIsee .tabela {
        background-color: #fff!important;
        background-image: none !important;
        height: 530px !important;
    }
    #containerIsee {
        max-width: 1070px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    #containerIsee>#bloco01Isee {
        background-color: #ccc;
        background-image: url(../img/bg_topo.jpg);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100%;
        height: 500px;
    }
    #containerIsee>#bloco01Isee .bg-azul {
        width: 460px;
        height: auto;
        background-color: #071f4d;
        margin-top: 162px;
        margin-left: 61px;
        /* padding-top: 40px; */
        /* padding-left: 45px; */
        /* padding-right: 60px; */
        padding: 40px;
    }
    #containerIsee>#bloco01Isee .bg-azul .logo-topo {
        width: 70%;
    }
    #containerIsee>#bloco01Isee .bg-azul h3 {
        margin: 0;
        font-family: ElectroluxSansRegular;
        color: #fff;
        font-size: 24px;
        font-weight: 100;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    #containerIsee>#bloco01Isee .bg-azul h4 {
        color: #fff;
        font-family: ElectroluxSansSemiBold;
        font-size: 36px;
        line-height: 1.2;
    }
    /* Video */
    #containerIsee>#bloco02Isee {
        height: auto;
    }
    #containerIsee>#bloco02Isee img {
        width: 100%;
        cursor: pointer;
    }
    /* modal */
    #containerIsee>#bloco02Isee iframe {
        width: 758px;
        height: 428px;
        margin-top: 25px;
        margin-left: 60px;
    }
    #containerIsee>#bloco02Isee .modal {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: left;
        background: rgba(0, 0, 0, .9);
        transition: opacity .25s ease;
        width: 100%;
        z-index: 9999;
    }
    #containerIsee>#bloco02Isee .modal__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
    }
    #containerIsee>#bloco02Isee .modal-state {
        display: none;
    }
    #containerIsee>#bloco02Isee .modal-state:checked+.modal {
        opacity: 1;
        visibility: visible;
    }
    #containerIsee>#bloco02Isee .modal-state:checked+.modal .modal__inner {
        top: 0;
    }
    #containerIsee>#bloco02Isee .modal__inner {
        transition: top .25s ease;
        position: absolute;
        top: -20%;
        right: 0;
        bottom: 0;
        left: 0;
        width: 90%;
        margin: auto;
        overflow: auto;
        background: transparent;
        border-radius: 5px;
        padding: 1em 2em;
    }
    #containerIsee>#bloco02Isee .modal__close {
        position: absolute;
        right: 95px;
        top: 27px;
        width: 1em;
        height: 1.1em;
        cursor: pointer;
        background: #FFFFFF;
        padding: 16px;
        border-radius: 50%;
    }
    #containerIsee>#bloco02Isee .modal__close:after,
    #containerIsee>#bloco02Isee .modal__close:before {
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        background: #000000;
        display: block;
        transform: rotate(45deg);
        left: 50%;
        margin: -3px 0 0 -1px;
        top: 9px;
    }
    #containerIsee>#bloco02Isee .modal__close:hover:after,
    #containerIsee>#bloco02Isee .modal__close:hover:before {
        background: #aaa;
    }
    #containerIsee>#bloco02Isee .modal__close:before {
        transform: rotate(-45deg);
    }
    #containerIsee>#bloco03Isee {
        background: #7a8b99;
        height: 500px;
    }
    #containerIsee>#bloco03Isee h3 {
        font-family: ElectroluxSansRegular;
        color: #fff !important;
        width: 47%!important;
        margin-top: 0;
        margin-left: 50px !important;
        font-size: 44px;
        line-height: 1.2;
        margin-top: 160px !important;
    }
    #containerIsee>#bloco03Isee p {
        font-family: ElectroluxSansRegular;
        color: #041f4d !important;
        font-size: 18px !important;
        line-height: 1.3 !important;
        width: 465px !important;
        margin-left: 50px !important;
    }
    #containerIsee>#bloco03Isee .imgIsee {
        margin-right: 40px;
        margin-top: 90px !important;
    }
    #containerIsee>#bloco03Isee .imgIsee img {
        width: 290px;
    }
    #containerIsee>#bloco04Isee {
        background-color: #256;
        background-image: url("../img/bg_produtos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        padding-bottom: 40px;
    }
    #containerIsee>#bloco04Isee div.item01Isee div.imgIsee,
    #containerIsee>#bloco04Isee div.item02Isee div.imgIsee,
    #containerIsee>#bloco04Isee div.item03Isee div.imgIsee {
        height: 260px;
    }
    #containerIsee>#bloco04Isee img {
        width: 100%;
    }
    #containerIsee>#bloco04Isee h3 {
        font-family: ElectroluxSansSemiBold;
        color: #fff !important;
        font-size: 18px;
        line-height: 1.3;
    }
    #containerIsee>#bloco04Isee p {
        font-family: ElectroluxSansRegular;
        color: #fff !important;
        text-align: center !important;
        font-size: 16px;
        line-height: 1.2;
        margin-top: 15px !important;
    }
    #containerIsee>#bloco05Isee {
        background-color: #256;
        background-image: url("../img/bg_produtos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vw;
        padding-bottom: 20px;
    }
    #containerIsee>#bloco04Isee div.item01Isee,
    #containerIsee>#bloco04Isee div.item02Isee,
    #containerIsee>#bloco04Isee div.item03Isee {
        margin-top: 70px;
    }
    #containerIsee>#bloco05Isee div.item01Isee div.imgIsee,
    #containerIsee>#bloco05Isee div.item02Isee div.imgIsee,
    #containerIsee>#bloco05Isee div.item03Isee div.imgIsee {
        height: 260px;
    }
    #containerIsee>#bloco05Isee img {
        width: 90%;
    }
    #containerIsee>#bloco05Isee h3 {
        font-family: ElectroluxSansSemiBold;
        color: #fff !important;
        font-size: 26px;
    }
    #containerIsee>#bloco05Isee p {
        font-family: ElectroluxSansRegular;
        color: #041E51 !important;
        text-align: left;
        margin-top: 36px !important;
        width: 300px;
        margin-left: -58px;
        font-size: 22px;
        text-align: left !important;
    }
    #containerIsee>#bloco05Isee .img-tabela {
        margin-top: 0;
    }
    #containerIsee>#Footer {
        background-color: #041f4d;
        display: flex;
        align-items: center;
        padding: 15px;
    }
    #containerIsee .logo {
        width: 15%;
    }
    #containerIsee .textofooter {
        width: 39%;
        text-align: left;
        color: #fff;
        font-family: ElectroluxSansSemiLight;
        font-size: 10px;
        line-height: 1.2;
        text-align: center;
    }
    #containerIsee .texto-consumidor {
        width: 40%;
        text-align: right;
        color: #fff;
        font-family: ElectroluxSansSemiLight;
        font-size: 10px;
        line-height: 1.2;
    }
    #containerIsee>#bloco03Isee div.lblsIsee label.labelDirIsee,
    #containerIsee>#bloco03Isee div.lblsIsee label.labelEsqIsee {
        width: 2%;
        margin-left: 25px;
        margin-right: 25px;
    }
    #containerIsee>#bloco03Isee div.lblsIsee {
        position: absolute;
        top: 0;
        left: 0;
        height: 500px;
        z-index: 60;
    }
}