@charset "UTF-8";
/*Reset Css*/

* {
    margin: 0;
    padding: 0;
    border: none;
    background-repeat: no-repeat;
    list-style: none;
    font-family: 'ElectroluxSans', Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1em;
}
body, html {
    width: 100%;
    min-height: 100%;
    min-width: 800px;
    overflow-x: hidden;
}
img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
}
a {
    display: block;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    width: 780px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}
.absolute {
    position: absolute;
    left: 50%;
}
.hotspots li {
    z-index: 10;
}
.hotspots-content img {
    z-index: 9;
    display: none;
}
.orange{
    color: #ec6856;
}

p {
    font: 400 16px/1.3em 'ElectroluxSans', Arial, sans-serif;
    margin-bottom: 30px;
    color: #666;
}

h3 {
    font: 600 32px/1em 'ElectroluxSans', Arial, sans-serif;
    margin-bottom: 18px;
    color: #051e4c;
}
/*End of Reset Css*/

/*@font-face*/
@font-face {
    font-family: 'ElectroluxSans';
    src: url('../fonts/ElectroluxSans-Regular.eot');
    src: url('../fonts/ElectroluxSans-Regular?#iefix') format('embedded-opentype'),
        url('../fonts/ElectroluxSans-Regular.ttf') format('truetype'),
        url('../fonts/ElectroluxSans-Regular.svg#ElectroluxSans') format('svg'),
        url('../fonts/ElectroluxSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ElectroluxSans';
    src: url('../fonts/ElectroluxSans-SemiBold.eot');
    src: url('../fonts/ElectroluxSans-SemiBold?#iefix') format('embedded-opentype'),
        url('../fonts/ElectroluxSans-SemiBold.ttf') format('truetype'),
        url('../fonts/ElectroluxSans-SemiBold.svg#ElectroluxSans') format('svg'),
        url('../fonts/ElectroluxSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ElectroluxSans';
    src: url('../fonts/ElectroluxSans-Bold.eot');
    src: url('../fonts/ElectroluxSans-Bold?#iefix') format('embedded-opentype'),
        url('../fonts/ElectroluxSans-Bold.ttf') format('truetype'),
        url('../fonts/ElectroluxSans-Bold.svg#ElectroluxSans') format('svg'),
        url('../fonts/ElectroluxSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ElectroluxSans';
    src: url('../fonts/ElectroluxSans-Light.eot');
    src: url('../fonts/ElectroluxSans-Light?#iefix') format('embedded-opentype'),
        url('../fonts/ElectroluxSans-Light.ttf') format('truetype'),
        url('../fonts/ElectroluxSans-Light.svg#ElectroluxSans') format('svg'),
        url('../fonts/ElectroluxSans-Light.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

/*Header*/
header{
    background: url(../images/bg-header.jpg) no-repeat center;
    height: 582px;
}
header *{
    color: #FFF;
}
header figure#logo {
    top: 22px;
    margin-left: -380px;
}
header h1{
    top: 158px;
    margin-left: -378px;
    font: 600 35px 'ElectroluxSans', sans-serif;
}
header h1 strong{
    font: 600 18px 'ElectroluxSans', sans-serif;
    color: #777d90;
    text-align: right;
    display: block;
    margin: 0px 0 25px;
}
header h2{
    font: 600 36px 'ElectroluxSans', sans-serif;
    color: #eb6852;
    margin-left: -375px;
    top: 325px;
    line-height: 36px;
}
header p{
    font: normal 20px/1.3em 'ElectroluxSans', sans-serif;
    color: #FFF;
    margin-left: -375px;
    top: 466px;
}

/*Slider*/
section#slider{
    padding: 60px 0;
}
section#slider h3{
    color: #051e4c;
    float: left;
}
section#slider p{
    float: right;
}
section#slider div.the-slider{
    clear: both;
}
section#slider h3{
    font: 600 48px/1em 'ElectroluxSans', sans-serif;
    color: #051e4c;
    margin-bottom: 23px;
}
section#slider p{
    font: normal 24px/1em 'ElectroluxSans', sans-serif;
}
section#slider p span{
    float: left;
    font-size: 64.5px;
    font-weight: 600;
    display: block;
    margin: -10px 15px 0 0;
    line-height: 1em;
}
section#slider .the-slider{
    text-align: center;
}
section#slider .the-slider .bx-wrapper{
    margin: 0 auto;
    position: relative;
}
section#slider .the-slider .bx-controls-direction > a{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    overflow: hidden;
    width: 34px;
    height: 0;
    padding-top: 60px;
    display: block;
}
section#slider .the-slider .bx-controls-direction > a.bx-prev{
    background: url(../images/slider/prev.png) no-repeat center;
    left: -48px;
}
section#slider .the-slider .bx-controls-direction > a.bx-next{
    background: url(../images/slider/next.png) no-repeat center;
    right: -48px;
}
section#slider .the-slider > span{
    color: #909090;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
}
section#slider .the-slider ul li span{
    color: #FFF;
    background: #051e4c;
    display: block;
    padding: 12px 0;
    font-size: 16px;
}

/* Features 1 */
section#features1{
    background: url(../images/bg-features1.jpg) no-repeat center bottom;
    height: 545px;
}
section#features1 .txt{
    margin-left: -332px;
    top: 200px;
}
section#features1 .txt p span{
    float: left;
    font-size: 64.5px;
    font-weight: 600;
    display: block;
    margin: -10px 15px 0 0;
    line-height: 1em;
}
section#features1 ul.funcoes li{
    font: normal 16px/1.2em 'ElectroluxSans', sans-serif;
    color: #666;
    margin-bottom: 22px;
    position: relative;
}
section#features1 ul.funcoes li:before{
    content: "";
    width: 9px;
    height: 9px;
    position: absolute;
    left: -12px;
    top: 8px;
    background: url(../images/bg-li.png) no-repeat center;
}
section#features1 ul.funcoes li strong{
    color: #051e4c;
    font: 600 18px 'ElectroluxSans', sans-serif;
    display: block;
}
section#features1 ul.funcoes{
    top: 239px
}
section#features1 .hotspots .item1{
    margin-left: -145px;
    top: 289px;
}
section#features1 .hotspots-content .item1{
    margin-left: -157px;
    top: 122px;
}

/* Features 2 */
section#features2{
    background: #e6e6e6 url(../images/bg-features2.jpg) no-repeat center;
    height: 598px;
}
section#features2 .txt2,
section#features2 .txt3{
    margin-left: -11px;
}
section#features2 .txt{
    margin-left: -369px;
    top: 83px;
    text-align: center;
}
section#features2 .txt h3{
    font-size: 30px;
}
section#features2 .txt p{
    color: #FFF;
}
section#features2 .txt2 h3,
section#features2 .txt3 h3{
    font-size: 28px;
}
section#features2 .txt2{
    top: 104px;
}
section#features2 .txt3{
    top: 300px;
}


/* Features 3 */
section#features3{
    background: #f0f0f0 url(../images/bg-features3.jpg) no-repeat center;
    height: 574px;
}
section#features3 .txt{
    margin-left: 104px;
    top: 187px;
    text-align: center;
}
section#features3 .txt h3{
    font-size: 29px;
    margin-bottom: 10px;
}
section#features3 .txt p{
    color: #FFF;
}
section#features3 .hotspots .item1{
    margin-left: -216px;
    top: 236px;
}
section#features3 .hotspots-content .item1{
    margin-left: -323px;
    top: 18px;
}

/* Features 4 */
section#features4{
    background: #dbc4b3 url(../images/bg-features4.jpg) no-repeat center;
    height: 616px;
}
section#features4 .txt,
section#features4 .txt2,
section#features4 .txt3{
    margin-left: 142px;
}
section#features4 .txt{
    top: 65px;
}
section#features4 .txt2{
    top: 247px;
}
section#features4 .txt3{
    top: 428px;
    margin-left: 149px;
}
section#features4 h3{
    font-size: 24px;
    color: #ec6856;
}
section#features4 p{
    color: #FFF;
}
section#features4 h3{
    line-height: 0.8em;
}
section#features4 .hotspots .item1{
    margin-left: -336px;
    top: 538px;
}
section#features4 .hotspots-content .item1{
    margin-left: -380px;
    top: 242px;
}

/* Features 5 */
section#features5{
    background: #fff url(../images/bg-features5.jpg) no-repeat center;
    height: 520px;
}
section#features5 .txt{
    top: 65px;
}
section#features5 .txt,
section#features5 .txt2{
    margin-left: -351px;
}
section#features5 .txt{
    top: 125px;
}
section#features5 .txt2{
    top: 338px;
}
section#features5 h3{
    font-size: 28px;
}

/*Vídeo*/
section#video{
    text-align: center;
    padding: 50px 0;
}
section#video .container{
    text-align: center;
}
section#video .container h3{
    font-size: 12px;
    text-transform: uppercase;
    color: #999;
    font-weight: normal;
}
section#video img{
    display: inline;
}

/*Embalagem | especificações*/
section#embalagem-especificacoes{
    background: url(../images/bg-embalagem-especificacoes.jpg) center no-repeat;
    height: 498px;
    background-color: #415464;
}
section#embalagem-especificacoes *{
    color: white;
}
section#embalagem-especificacoes .txt{
    top: 112px;
    margin-left: 79px;
}
section#embalagem-especificacoes h3{
    font-size: 26px;
    margin-bottom: 12px;
}
section#embalagem-especificacoes ul.first{
    margin-bottom: 70px;
}
section#embalagem-especificacoes ul.second li{
    line-height: 1.6em;
}
section#embalagem-especificacoes li{
    font-size: 15px;
    line-height: 1.3em;
    list-style-type: disc;
    list-style-position: inside;
}

/*CD*/

.cd-img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.cd-single-point {
    position: absolute;
    border-radius: 50%;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: all .300s;
    -webkit-transition: all .300s;
    -ms-transition: all .300s;
    -moz-transition: all .300s;
    -o-transition: all .300s;
}
.cd-single-point > a {
    position: relative;
    z-index: 99;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 0;
    background: url("../images/hotspot.png") 0 0 no-repeat;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
    transition: all .300s;
    -webkit-transition: all .300s;
    -ms-transition: all .300s;
    -moz-transition: all .300s;
    -o-transition: all .300s;
}
.cd-single-point:hover {
    opacity: 0.8;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.cd-single-point::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: transparent;
    -webkit-animation: cd-pulse 2s infinite;
    -moz-animation: cd-pulse 2s infinite;
    animation: cd-pulse 2s infinite;

}
@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: scale(0.6);
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0.98);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0.98);
    }
    100% {
        -webkit-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0);
    }
}
@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: scale(0.6);
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0.98);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0.98);
    }
    100% {
        -moz-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0);
    }
}
@keyframes cd-pulse {
    0% {
        -webkit-transform: scale(0.6) rotate(540deg);
        -moz-transform: scale(0.6) rotate(540deg);
        -ms-transform: scale(0.6) rotate(540deg);
        -o-transform: scale(0.6) rotate(540deg);
        transform: scale(0.6) rotate(540deg);
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0.98);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0.98);
    }
    100% {
        -webkit-transform: scale(1.6) rotate(540deg);
        -moz-transform: scale(1.6) rotate(540deg);
        -ms-transform: scale(1.6) rotate(540deg);
        -o-transform: scale(1.6) rotate(540deg);
        transform: scale(1.6) rotate(540deg);
        box-shadow: inset 0 0 1px 1px rgba(5, 30, 76, 0);
    }
}
/* Spot Laranja */
.cd-single-point.laranja > a{
    background: url("../images/hotspot-laranja.png") 0 0 no-repeat;
}
.cd-single-point.laranja::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: transparent;
    -webkit-animation: cd-pulselaranja 2s infinite;
    -moz-animation: cd-pulselaranja 2s infinite;
    animation: cd-pulselaranja 2s infinite;
}
@-webkit-keyframes cd-pulselaranja {
    0% {
        -webkit-transform: scale(0.6);
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0.98);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0.98);
    }
    100% {
        -webkit-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0);
    }
}
@-moz-keyframes cd-pulselaranja {
    0% {
        -moz-transform: scale(0.6);
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0.98);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0.98);
    }
    100% {
        -moz-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0);
    }
}
@keyframes cd-pulselaranja {
    0% {
        -webkit-transform: scale(0.6) rotate(540deg);
        -moz-transform: scale(0.6) rotate(540deg);
        -ms-transform: scale(0.6) rotate(540deg);
        -o-transform: scale(0.6) rotate(540deg);
        transform: scale(0.6) rotate(540deg);
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0.98);
    }
    50% {
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0.98);
    }
    100% {
        -webkit-transform: scale(1.6) rotate(540deg);
        -moz-transform: scale(1.6) rotate(540deg);
        -ms-transform: scale(1.6) rotate(540deg);
        -o-transform: scale(1.6) rotate(540deg);
        transform: scale(1.6) rotate(540deg);
        box-shadow: inset 0 0 1px 1px rgba(236, 104, 86, 0);
    }
}
